<div class="row answers-row unpadded" ng-hide="game.state === 'game ended' || game.state ==='game dissolved'">
    <div class="col-md-12">
      <div class="row">
          <span ng-show="winnerPicked()"></span>
          <div class="col-md-2 unpadded" ng-style="{'cursor':'pointer'}" ng-click="pickCard(card)" ng-hide="showTable || isCzar()"
          ng-repeat="card in game.players[game.playerIndex].hand" ng-animate="{enter:'animated fadeInUp', leave: 'animated fadeInOut'}">
            <div class="answer-card">
              <span ng-bind-html-unsafe="card.text"></span>
              <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
              <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
            </div>
          </div>

          <span ng-repeat="answer in game.table">
              <div class="col-md-2 unpadded" ng-style="pointerCursorStyle()" id='table' ng-click="pickWinning(answer)" ng-show="showTable || isCzar()"
              ng-repeat="card in answer.card" ng-animate="{enter:'animated bounceInLeft'}" style="background-color:{{winningColor($parent.$index)}}">
                <div class="answer-card">
                  <span ng-bind-html-unsafe="card.text"></span>
                  <span id='selection-number' ng-show="showFirst(card)"> 1 </span>
                  <span id='selection-number' ng-show="showSecond(card)"> 2 </span>
                </div>
              </div>
          </span>

      </div>
    </div>
  </div>

