<div landing id="main-bod" ng-controller="IndexController">
  
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="img/logo3.png" alt=""></a>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#about">ABOUT
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" data-scroll href="#charity">CHARITY
              </a>
            </li>

            <li class="nav-item active" ng-show="showOptions">
                <a class="nav-link" href="signIn.html">SIGN IN
                </a>
             </li>

             <li class="nav-item active" ng-show="showOptions">
              <a class="nav-link" href="signup.html">SIGN UP
              </a>
           </li>
          </ul>
        </div>
      </div>
    </nav>

   <!-- First section content -->

   <div class="container-fluid first-section">
    <div class="container content">
      <!--  First row -->
      <div class="row">
        <div class="col-sm-12">
          <h1>CARDS FOR HUMANITY</h1>
        </div>

        <div class="col-sm-12">
          <h4>A GAME FOR HORRIBLE PEOPLE <span>DESPERATELY</span> TRYING TO BE GOOD</h4>
        </div>
      </div>

      <!-- End of first row -->

      <!--  Second row for button -->
      <div class="row buttons" ng-show="showOptions">
        <a class="btn signup" href="signup.html">Sign up</a>
        <a class="btn btn-success guest">Play as a guest</a>
      </div>

      <div class="row buttons" ng-hide="showOptions">
          <a class="btn signup" href="signup.html">Play Game with Strangers</a>
          <a class="btn btn-success guest">Play Game with Friends</a> 
        </div>
      <!-- Second row ends -->
    </div>
   </div>
      
   <!-- First section content ends here-->


   <!-- Second section content starts here-->
   <div class="container second-section" id="about">
     <div class="row title-holder">
       <div class="col-sm-12 title-question">
        <h1>WHAT IS CARD FOR HUMANITY?</h1>          
       </div>
     </div>

     <div class="row description">
       <p>Cards for Humanity is a fast-paced online version of the popular card game, 
         Cards Against Humanity, that gives you the opportunity to 
         donate to children in need - all while remaining as despicable and awkward as you naturally are.</p>

      <p class="warning"><b>Warning!</b> This game contains offensive, profane, explicit content created by 
        Cards Against Humanity and provided here, 
        uncensored and complete, in digital form. Human Resources made us say that.</p>
     </div>
   </div>

   <!-- Section section content ends here-->


   <!-- Third section content starts here-->
  <div class="container-fluid third-section">
    <div class="container">
      <div class="row how-to-play-title">
        <div class="col-md-12">
            <h1>HOW TO PLAY</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <img src="img/howto1.png" class="img-responsive" data-aos="flip-up" data-aos-duration="1000" alt="">
        </div>
        <div class="col-sm-12 col-lg-3">
          <img src="img/howto2.png" class="img-responsive" data-aos="flip-up" data-aos-duration="2000" alt="">          
        </div>

        <div class="col-sm-12 col-lg-3">
          <img src="img/howto3.png" class="img-responsive" data-aos="flip-up" data-aos-duration="3000" alt="">          
        </div>

        <div class="col-sm-12 col-lg-3">
          <img src="img/howto4.png" class="img-responsive" data-aos="flip-up" data-aos-duration="4000" alt="">          
        </div>

      </div>
    </div>
   </div><!-- Third section content ends here-->

   <div class="container-fluid fourth-section" id="charity">
    <div class="container">
      <h1 >CHARITY</h1>
      <h2 >
        <i class="fa fa-quote-left"></i> Save a child today ~ Protect the future <i class="fa fa-quote-right"></i>
      </h2>
      <div class="row fourth-section-content">
        <div class="col-lg-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YFaeFkhuKX0" allowfullscreen></iframe>
              </div>
        </div>
        
        <div class="col-lg-6">
          <div class="row">
            <p data-aos="flip-up" data-aos-duration="3000">When you donate, you're giving children renewed strength to fight their illnesses, bringing families closer together and uniting entire communities. You can change lives.</p>
            <p data-aos="flip-up" data-aos-duration="3000">We're quite sure you feel the same way, so we've integrated donation widgets 
              (via crowdrise.com), along with some not-so-subtle reminders throughout the game to give you 
              the opportunity to donate. If you're signed in when you donate, we'll even upgrade your account 
              and place a crown on your avatar's head (to remind other players how much better you are than them).
            </p>

            <p data-aos="flip-up" data-aos-duration="3000">All donations go to the Make-a-Wish Foundation and benefit children in need.
                <a href="https://www.crowdrise.com/donate/project/cfhio/cards4humanity?widget=true&redirect_to=file%3A%2F%2F%2FUsers%2Fandeladeveloper%2FDesktop%2Fcfh-landingpage%2Fcfh-ui%2FnewIndex.html&stylesheet=&amounts=" class="btn donate">
                  DONATE NOW
                </a>  
            </p>

              <div class="row"> 
                <!-- <div class="col-lg-2"></div> -->
                <div class="col-sm-12 col-lg-5 makeAWish">
                  <a href="http://www.wish.org" target="_blank">
                    <img src="img/make-a-wish-logo-white-large.png" class="img-responsive" alt="">
                  </a>
                </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>
   <!-- Footer section -->

   <div class="container-fluid footer-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-9">
          <p>Legal stuff: This game is based on the <a href="http://cardsagainsthumanity.com" target="_blank">
            Cards Against Humanity</a> card game, which is CC licensed (BY-NC-SA). Cards for Humanity is not
             affiliated with Cards Against Humanity. In complying with the Creative Commons license of the Cards 
             Against Humanity card game, all proceeds from donations go directly to charity, as managed by 
            <a href="http://crowdrise.com" target="_blank">crowdrise</a></p>
        </div>

        <div class="col-sm-12 col-lg-3 github">
            <div class="row">
              <div class="col-sm-12 col-lg-6">
                  <a href="https://github.com/cardsforhumanity/cardsforhumanity" target="_blank">
                  <img src="img/github.png" id="gitcat"></a> 
              </div>  
              
              <div class="col-sm-12 col-lg-6">
                  <a href="https://twitter.com/cfh_app" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @cfh_app</a>                
                
                  <div class="row">
                      <div class="col-sm-12 col-lg-12">
                          <a href="#"
                          onclick="
                            window.open(
                              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                              'facebook-share-dialog',
                              'width=626,height=436');
                            return false;">
                          Facebook
                        </a>
                      </div>
                  </div>
  
  
                  <div class="row">
                      <div class="col-sm-12 col-lg-12">
                          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://cfh.io" data-text="Cards for Humanity: A Game for Horrible People Desperately Trying to do Good" data-related="CFH_App">Tweet</a>                        
                      </div>
                  </div>
              </div>  
            </div>
          </div>
      </div>
    </div>
   </div>
  </body>

</div>

