    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">logo here</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">ABOUT
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">CHARITY
              </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="signIn.html">SIGN IN
                </a>
             </li>

             <li class="nav-item active">
              <a class="nav-link" href="signup.html">SIGN UP
              </a>
           </li>
          </ul>
        </div>
      </div>
    </nav>

   <!-- First section content -->

   <div class="container-fluid first-section">
    <div class="container content">
      <!--  First row -->
      <div class="row header-message">
        <div class="col-sm-12">
          <h1>CARDS FOR HUMANITY</h1>
        </div>

        <div class="col-sm-12">
          <h4>A GAME FOR HORRIBLE PEOPLE <span>DESPERATELY</span> TRYING TO BE GOOD</h4>
        </div>
      </div>

      <!-- End of first row -->

      <!--  Second row for button -->
      <div class="row buttons">
          <div class="col-sm-3"></div>
        <div class="col-sm-3"><a class="btn signup">Sign up</a></div>
        <div class="col-sm-3"><a class="btn btn-success guest">Play as a guest</a></div>
        <div class="col-sm-3"></div>
      </div>
      <!-- Second row ends -->
    </div>
   </div>
      
   <!-- First section content ends here-->


   <!-- Second section content starts here-->
   <div class="container second-section">
     <div class="row title-holder">
       <div class="col-sm-12 title-question">
        <h1>WHAT IS CARD FOR HUMANITY?</h1>          
       </div>
     </div>

     <div class="row description">
       <p>Cards for Humanity is a fast-paced online version of the popular card game, 
         Cards Against Humanity, that gives you the opportunity to 
         donate to children in need - all while remaining as despicable and awkward as you naturally are.</p>

      <!-- <p>Warning! This game contains offensive, profane, explicit content created by 
        Cards Against Humanity and provided here, 
        uncensored and complete, in digital form. Human Resources made us say that.</p> -->
     </div>
   </div>

   <!-- Section section content ends here-->


   <!-- Third section content starts here-->
  <div class="container-fluid third-section">
    <div class="container">
      <div class="row how-to-play-title">
        <div class="col-md-12">
            <h1>HOW TO PLAY</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-3">
          <img src="img/howto1.png" class="img-responsive " data-aos="fade-up" data-aos-duration="3000" alt="">
        </div>
        <div class="col-sm-12 col-lg-3">
          <img src="img/howto2.png" class="img-responsive" data-aos="fade-down-left" data-aos-duration="3000" alt="">          
        </div>

        <div class="col-sm-12 col-lg-3">
          <img src="img/howto3.png" class="img-responsive" data-aos="fade-down-right" data-aos-duration="3000" alt="">          
        </div>

        <div class="col-sm-12 col-lg-3">
          <img src="img/howto4.png" class="img-responsive" data-aos="zoom-out-left" data-aos-duration="3000" alt="">          
        </div>

      </div>
    </div>
   </div><!-- Third section content ends here-->

   <div class="container-fluid fourth-section">
      <div class="container">
        <h1 data-aos="fade-right" data-aos-duration="2000">CHARITY</h1>
        <h2 data-aos="fade-left" data-aos-duration="1500">
          <i class="fa fa-quote-left"></i> Save a child today ~ Protect the future <i class="fa fa-quote-right"></i>
        </h2> 

        <div class="row fourth-section-content">
          <div class="col-lg-4">
              <a href="http://www.crowdrise.com/cfhio/fundraiser/cards4humanity" id="crowdriseStaticLink-fundraiser-121142" title="Fundraising Websites on Crowdrise">Fundraising Websites - Crowdrise</a>
              <script type="text/javascript" src="https://www.crowdrise.com/widgets/donate/fundraiser/121142/?callback=userDonationCb"></script>
          </div>
          
          <div class="col-lg-8">
            <div class="row">
              <p data-aos="fade-up" data-aos-duration="2000">When you donate, you're giving children renewed strength to fight their illnesses, bringing families closer together and uniting entire communities. You can change lives.</p>
              <p data-aos="fade-up" data-aos-duration="2000">We're quite sure you feel the same way, so we've integrated donation widgets 
                (via crowdrise.com), along with some not-so-subtle reminders throughout the game to give you 
                the opportunity to donate. If you're signed in when you donate, we'll even upgrade your account 
                and place a crown on your avatar's head (to remind other players how much better you are than them).
              </p>

              <p data-aos="fade-up" data-aos-duration="3000">All donations go to the Make-a-Wish Foundation and benefit children in need.</p>

              <div class="row video">
                <div class="col-sm-12">
                    <iframe width="560" 
                      height="315" 
                      src="https://www.youtube.com/embed/Tc8PdpE_aIw?rel=0" 
                      frameborder="0" allowfullscreen>
                  </iframe>
                </div>

                <div class="row makeAWish">
                    <div class="col-sm-12">
                      <a href="http://www.wish.org" target="_blank">
                        <img src="img/make-a-wish-logo-white-large.png" alt="">
                      </a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>