    <div class="row czar-notification">
      <div class="col-md-12" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <h3>What the!? The game ended because too many people left! </h3>
        <h3>Our sincere apologies</h3>
      </div>
      <div class="col-md-12" ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <h3>Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</h3>
        <h3>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself. </h3>
      </div>
      <div class="col-md-12" ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <h3>Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game! </h3>
        <h3>That makes you a loser, unfortunately.</h3>
      </div>

      <div class="col-md-12" ng-show="isCzar() && game.table.length===0 && game.state !== 'game dissolved' && game.state !== 'awaiting players'">
        <h3>
          Czar! You're Czar!!
        </h3>
        <h3>Other players are selecting their answers. Get ready to choose the winner!</h3>
      </div>
      
    </div>