  <div class="row" ng-repeat="player in game.players">
    <div class="col-md-12">
      <div class="player-card">
        <div class="row">
            <div class="col-md-2">
                <img ng-src="{{player.avatar}}" width="35px" height="35px" alt="avatar">
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-9">
                  <h5>{{player.username | upperFirstLetter}}<span> {{player.points}}/{{game.pointLimit}}</span></h5>
                  <h5 ng-show="isPlayer($index)" class="czar"> Czar</h5>
                </div>
                <div class="col-md-3">
                    <img src="../img/card6.png" width="30px" height="30px" alt="card">
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>