body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', 'Roboto', 'Ubuntu Mono', sans-serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
}

.navbar-landing {
  background-color: transparent !important;
  padding: 0px;
  height: 50px;
  transition: background-color 0.5s, height 0.5s;
  padding-top: 20px;
  border: 0;
}

.navbar-brand .initialLogo {
  max-height: 100px;
  margin-top: -20px;
}

.navbar-nav li,
.navbar-nav a {
  color: white !important;
  cursor: pointer;
  background: transparent !important;
}

.navbar-collapse {
  border: none !important;
}

.link-adjust {
  margin-top: 20px;
}

.navbar-scroll {
  background-color: #43bf06 !important;
  padding: 0px;
  height: 80px;
}

.finalLogo {
  max-height: 60px;
  margin-top: -5px;
}

.toggleButton {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .navbar-nav li,
  .navbar-nav a {
    color: white !important;
    cursor: pointer;
    background: #43bf06 !important;
  }
  .navbar-brand .initialLogo {
    max-height: 50px;
    margin-top: -10px;
  }
  .finalLogo {
    max-height: 60px;
    margin-top: 1px;
  }
}

.navbar-nav a {
  height: 50px;
  font-size: 15px;
}

.navbar-nav li a:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 5px;
}

.changeHover {
  border-top: 1px solid #43bf06;
  border-bottom: 1px solid #43bf06;
  border-radius: 5px;
  color: #43bf06 !important;
  background-color: white !important;
}

#abandon {
  background-color: #d95450 !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 14px;
  margin-top: 16px;
  margin-right: 10px;
}

#twitter {
  background-color: #08abed !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 14px;
  margin-top: 16px;
  margin-right: 10px;
}

#takeTourBtn {
  background-color: #d95450 !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 14px;
  margin-top: 16px;
  margin-right: 10px;
}

#tourTourBtn:hover {
  border-top: 1px solid #43bf06;
  border-bottom:  1px solid #43bf06;
  border-radius: 5px;
  color: #43bf06 !important;
  background-color: white !important;
}

.btn-tweet {
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px !important;
}

.btn-cfh {
  background-color: #000;
  color: #fff;
}

.btn-cfh-white {
  color: #45bf08 !important;
  background-color: #fff !important;
  text-transform: capitalize;
  border: #45bf08 solid 1px;
}

.btn-white {
  color: #000;
  background-color: #fff;
  text-transform: capitalize;
  border-radius: 0px;
}

.btn-cfh-white:hover {
  background-color: #45bf08 !important;
  color: #fff !important;
  text-transform: capitalize;
}

.btn-cfh-green {
  background-color: #45bf08;
  color: #fff !important;
  text-transform: capitalize;
}

.btn-cfh-green:hover {
  color: #45bf08 !important;
  background-color: #fff;
  text-transform: capitalize;
  border: #45bf08 solid 1px;
}

.row {
  padding: 0;
  margin: 0;
}

.first-section {
  background-image: url('../img/newimage4.png');
  background-size: cover;
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
}

.content {
  text-align: center;
}

.content h1 {
  margin-top: 250px;
  color: #43bf06;
  font-size: 60px;
  font-family: 'Righteous', cursive !important;
}

@media (max-width:400px) {
  .first-section {
    background-image: url('../img/third-sectionbg.png');
    background-size: cover;
    min-height: 100%;
    background-position: center;
  }
  .content h1 {
    margin-top: 100px;
  }
}

.content h4 {
  margin-top: 50px;
  color: white;
  font-size: 30px;
}

.content span {
  color: #ecb60d;
}

.content .signup {
  line-height: 50px;
  min-width: 180px;
  text-align: center;
  background: #43bf06;
  color: white;
  border-radius: 10px;
  margin: 30px 0 30px 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 1.0s, background-color 1.0s;
}

.content .signup:hover {
  background: white;
  color: #43bf06;
}

.content .guest {
  line-height: 50px;
  min-width: 160px;
  text-align: center;
  margin: 30px 0 30px 0;
  background: white;
  color: #43bf06;
  border-radius: 10px;
  border-color: transparent;
  font-size: 17px;
  text-transform: uppercase;
}

.content .guest:hover {
  text-align: center;
  background: #43bf06;
  color: white;
  transition: color 1.0s, background-color 1.0s;
}

.game-screen {
  background-image: url('../img/newimage4.png');
  background-size: cover;
  min-height: 100%;
  background-position: center;
  background-attachment: fixed;
}

.second-section {
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.second-section .title-question {
  margin: auto;
  margin-top: 80px;
  color: #43bf06;
  font-weight: bold;
  line-height: 0.001em;
  word-wrap: break-word;
}

.second-section .title-question h1 {
  text-align: center;
  font-family: 'Righteous';
}

.second-section .description {
  margin-top: 20px;
  height: auto;
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
  font-family: 'Quicksand', 'Roboto';
}

.second-section .warning {
  font-weight: bold;
  font-size: 20px;
}

.second-section b {
  color: red
}

.third-section {
  height: auto;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 80px;
}

.third-section .howto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third-section .how-to-play-title {
  margin: auto;
}

.third-section .how-to-play-title h1 {
  text-align: center;
  color: white;
  font-family: 'Righteous';
  padding-bottom: 20px;
}

.third-section .join {
  line-height: 50px;
  min-width: 180px;
  text-align: center;
  background: #43bf06;
  color: white;
  border-radius: 10px;
  margin: 50px 0 30px 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: color 1.0s, background-color 1.0s;
}

.third-section .join:hover {
  background: white;
  color: #43bf06;
}

.third-section img {
  margin-top: 20px;
  max-height: 324px;
  max-width: 251px;
  margin: auto;
}

.fourth-section {
  background-color: white;
  min-height: 100%;
  padding-top: 80px;
}

.fourth-section h1 {
  text-align: center;
  color: #43bf06;
  font-family: 'Righteous';
}

.fourth-section h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  font-family: 'Quicksand';
}

.fourth-section h2 i {
  color: #ecb60d;
  font-size: 15px;
}

.fourth-section .fourth-section-content {
  margin-top: 50px;
}

.fourth-section .fourth-section-content p {
  font-family: 'Quicksand';
  font-size: 20px;
}

.fourth-section .fourth-section-content img {
  max-width: 200px;
}

.fourth-section .fourth-section-content .makeAWish,
.fourth-section .fourth-section-content .donate {
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.fourth-section .fourth-section-content .donate {
  color: #ffffff;
  font-weight: bold;
  border-top: 1px solid #fedaac;
  display: block;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgba(249, 147, 49, 1);
  transition: background 1s;
  margin-top: 20px;
}

.fourth-section .fourth-section-content .donate .btn:hover {
  background: rgb(245, 152, 66);
}

.embed-responsive-16by9 {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-responsive-16by9 iframe,
.embed-responsive-16by9 object,
.embed-responsive-16by9 embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-section {
  background-color: black;
  position: relative;
}

.footer-section p {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Quicksand';
}

.footer-section p a {
  color: #43bf06;
  font-family: 'Quicksand';
}

.footer-section .github {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: black;
}

.footer-section .github .twitter-follow-button .btn {
  height: 50px;
}

@media (max-width: 400px) {
  .footer-section .github {
    margin-top: 0px;
    float: left;
  }
}

.game-console {
  margin-top: 10% !important;
}

.game-console .count {
  font-family: 'Quicksand', cursive !important;
  font-size: 750%;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.count {
  min-height: 182px;
}

.game-console .count p {
  font-size: 16px;
  text-align: center;
}

.game-console .btn-cfh-white {
  margin-bottom: 10px;
}

.question-box {
  background-color: #fff;
  font-family: 'Quicksand', cursive !important;
  min-height: 230px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  color: #000;
}

.question-box h4 {
  font-size: 24px;
}

.question-box p {
  font-size: 18px;
}

.czar-notification {
  color: #fff;
  margin-top: 5% !important;
  text-align: center;
  font-family: 'Quicksand', cursive !important;
}

.player-instructions {
  color: #fff;
  margin-top: 3% !important;
  font-family: 'Quicksand', cursive !important;
}

.modal-dialog {
  font-family: 'Quicksand', cursive !important;
}

.modal-header {
  background-color: #45BF01;
  color: #fff;
  text-align: center;
}

.modal-body {
  text-align: center;
}

.search-box {
  width: 60%;
  margin: 0px auto;
}

.invite-box {
  width: 60%;
}

.player-card {
  background-color: #7CE4E8;
  padding: 4px;
  font-size: 11px;
  font-family: 'Quicksand', cursive !important;
  margin-bottom: 3px;
  border-radius: 3px !important;
}

.player-card h5 {
  font-size: 14px;
}

.avatar-row {
  padding: 0px;
}

.player-card .czar {
  color: red;
}

.unpadded {
  padding: 0px;
}

.modal-button-container {
  width: 50%;
  margin: 0 auto;
}

#answers-row {
  margin-top: 4%;
}

.answer-card {
  background: url('../img/card-back.png') no-repeat;
  background-size: 100% 100%;
  color: #000;
  height: 150px;
  border-radius: 3px;
  padding: 12px;
  margin-right: 4px;
  margin-top: 5px;
}

#player-username {
  text-transform: capitalize;
}

#instructions-row {
  margin-top: 6%;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
}

#game-dissolved,
#game-ended {
  color: #d95450;
}

.card-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.donation-row {
  background-color: #fff;
  padding: 15px !important;
  border-radius: 7px;
}

.donation-row h4 {
  text-align: center;
}

.feedback-row {
  background-color: #fff;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

#regionSelectGuest, #regionSelectFriends {
  width: 100%;
}

#regionSelectWrapper {
  margin-top: 2%;
  margin-bottom: 5%;
}
